<link rel="stylesheet" href="/css/auth.css">

<div class="container">

  <div class="left">
    <h1>รหัสผ่านใหม่</h1>

    <div class="error-box <%= typeof error !== 'undefined' ? 'show' : '' %>">
      <%= typeof error !== 'undefined' ? error : '' %>
    </div>

    <form method="POST" action="/reset-password">

      <div class="label">กรอกรหัสผ่านใหม่</div>
      <div class="input">
        <input type="password" name="password" required>
      </div>

      <button class="btn">
        เปลี่ยนรหัสผ่าน
      </button>

    </form>
  </div>

  <div class="right">
    <div class="logo-box">
      <img src="/images/logo2.png">
    </div>
    <h2>ตั้งค่ารหัสผ่าน</h2>
    <p>กรุณากำหนดรหัสผ่านใหม่ของคุณ</p>
  </div>

</div>

<script src="/js/login.js"></script>