<link rel="stylesheet" href="/css/change_password.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="profile-container">

  <!-- ปุ่มย้อนกลับ -->
  <div class="back-btn">
    <a href="/user/profile" class="icon-back">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
  </div>

  <div class="profile-card">

        <% if (error) { %>
        <div class="error-box show">
          
          <% if (error === "notmatch") { %>
            รหัสผ่านใหม่ไม่ตรงกัน
          <% } else if (error === "wrongold") { %>
            รหัสผ่านปัจจุบันไม่ถูกต้อง
          <% } else if (error === "passwordrule") { %>
            รหัสผ่านต้องมี 8 ตัวขึ้นไป และมี A-Z a-z 0-9 และอักขระพิเศษ
          <% } else { %>
            เกิดข้อผิดพลาด
          <% } %>
        </div>
        <% } %>

  <form action="/user/change_password" method="POST">
  
    <div class="profile-header">
      <i class="fa-solid fa-lock"></i>
      <h2>เปลี่ยนรหัสผ่าน</h2>
      <p>เพื่อความปลอดภัย กรุณากรอกรหัสผ่านใหม่ของคุณ</p>
    </div>

      <div class="form-group">
        <label>รหัสผ่านปัจจุบัน</label>
        <div class="input-box">
          <i class="fa-solid fa-key"></i>
          <input type="password" name="oldPassword" required>
        </div>
      </div>

      <div class="form-group">
        <label>รหัสผ่านใหม่</label>
        <div class="input-box">
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="newPassword" required>
        </div>
      </div>

      <div class="form-group">
        <label>ยืนยันรหัสผ่านใหม่</label>
        <div class="input-box">
          <i class="fa-solid fa-check"></i>
          <input type="password" name="confirmPassword" required>
        </div>
      </div>

      <div class="profile-actions">
        <button class="btn-save">
          <i class="fa-solid fa-floppy-disk"></i>
          บันทึกการเปลี่ยนรหัสผ่าน
        </button>
      </div>

    </form>

  </div>

</div>